# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_store
# C extensions
*.so
database
media/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
spades/settings.py
settings.py
lib/
lib64/
parts/
sdist/
var/
.idea

*.egg-info/
.installed.cfg
*.egg
.pyc
.sass-cache/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
media/photos/
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*~
