{% load static from static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://deckofcardsapi.com/static/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://deckofcardsapi.com/static/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://deckofcardsapi.com/static/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://deckofcardsapi.com/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://deckofcardsapi.com/static/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://deckofcardsapi.com/static/img/favicon/manifest.json">
    <link rel="shortcut icon" href="https://deckofcardsapi.com/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://deckofcardsapi.com/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="https://deckofcardsapi.com/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Deck of Cards - an API for playing cards">
    <meta name="author" content="Deck of Cards">

    <!-- Facebook -->
    <meta property="og:title" content="Deck of Cards" />
    <meta property="og:image" content="https://deckofcardsapi.com/static/img/cards.png" />
    <meta property="og:url" content="https://deckofcardsapi.com" />
    <meta property="og:description" content="Deck of Cards - an API for playing cards." />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:title" content="Deck of Cards" />
    <meta name="twitter:url" content="https://deckofcardsapi.com" />
    <meta name="twitter:card" content="Deck of Cards - an API for playing cards" />
    <meta name="twitter:image" content="https://deckofcardsapi.com/static/img/cards.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <title>Deck of Cards API</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    h1, h2, h3, h4, h5, h6{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    body, p{
        font-weight:100;
    }
    p{
        letter-spacing: 1px;
        font-size:130%;
    }
    .page{
        margin:0;
        padding:50px 20px;
        background-image: -webkit-linear-gradient(top, #1A4A1C, #308834 600px);
        background-image: -moz-linear-gradient(top, #1A4A1C, #308834 600px);
        background-image: -o-linear-gradient(top, #1A4A1C, #308834 600px);
        background-image: -ms-linear-gradient(top, #1A4A1C, #308834 600px);
        background-image: linear-gradient(to bottom, #1A4A1C, #308834 600px);
        color:#fff;
    }
    .card-image{
        width:200px;
        position:absolute;
        right:0;
        top:0;
    }
    code{
        font-size:100%;
        background-color:rgba(1,1,1,0);
    }
    .head{
        padding:60px;
        text-align:center;
    }
    var{
        color:#B1C725;
        font-size:105%;
        font-weight:300;
    }
    pre{
        font-family: 'Source Code Pro', monospace;
        font-size: 18px;
        background-color:rgba(1,1,1,.3);
        color:#fff;
        border:none;
        border-radius:10px;
        padding:20px;
    }
    button {
        border: none;
        border-radius: 5px;
        padding: 0.2em 0.6em;
        background-color:rgba(1,1,1,.3);
        color:#B1C725;
    }
    button:hover {
        color:#eee;
    }
    .section-header{
        padding-top: 100px;
        padding-bottom:20px;
    }
    .title{
        font-size: 72px;
    }
    .footer{
        text-align:center;
    }
    .icon{
        background:white;
        color:#333;
        padding:7px;
        width:38px;
        height:38px;
        border-radius:50%;
        font-size:120%;
        text-align:center;
    }
    a{
        color:#B1C725;
    }
    a:hover{
        color:#eee;
    }
    .note{
        background-color:#87a68b5c;
        color:#fff;
        border:none;
        border-radius:3px;
        padding:10px;
    }
    .uinotebook {
        margin-top: 100px;
        background-color:rgba(1,1,1,.3);
        color:#fff;
        border:none;
        border-radius:10px;
        padding:30px;
    }
    .uinotebook a{
        color: #FFF;
    }
    .uinotebook img{
        width:50%;
        min-width:320px;
    }
    .uinotebook h3{
        margin-top:0px;
        margin-bottom: 20px;
    }
    .github-ribbon{
        position: absolute;
    }
    .kickstart {
        background-color: #d23737;
        color: #fff;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        font-size: 1.4em;
        font-weight: 300;
    }
    .kickstart:hover, .kickstart:active, .kickstart:visited {
        text-decoration: none;
    }
    
    </style>
  </head>
<body>
<a href="https://github.com/crobertsbmw/deckofcards"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_left_green_007200.png?resize=300%2C300" class="github-ribbon attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>

<div class="page">
    <img src='{% static "img/blackjack2.png" %}' class="card-image">
    <div class="head">
        <h1 class="title">Deck of Cards</h1>
        <h3 class="subtitle">An API</h3>
    </div>

<div class="container">

<h2 class="section-header" id="shuffle">Shuffle the Cards:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/new/shuffle/?deck_count=1</span> <button class="copy-btn">copy</button>
</pre>


<p>Add <var>deck_count</var> as a GET or POST parameter to define the number of Decks you want to use. Blackjack typically uses 6 decks. The default is 1.</p>

<br>
<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "shuffled": true,
    "remaining": 52
}
</pre>

<h2 class="section-header" id="draw-card">Draw a Card:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/draw/?count=2</span> <button class="copy-btn">copy</button>
</pre>
<p>The count variable defines how many cards to draw from the deck. Be sure to replace <var>deck_id</var> with a valid deck_id. We use the deck_id as an identifier so we know who is playing with what deck. After two weeks, if no actions have been made on the deck then we throw it away.</p>
<p class="note"><span style="font-weight:300;">TIP</span>: replace <var>&lt;&lt;deck_id&gt;&gt;</var> with "<var>new</var>" to create a shuffled deck and draw cards from that deck in the same request.</p>
<br>
<h3>Response:</h3>
<pre>
{
    "success": true, 
    "deck_id": "kxozasf3edqu", 
    "cards": [
        {
            "code": "6H", 
            "image": "https://deckofcardsapi.com/static/img/6H.png", 
            "images": {
                          "svg": "https://deckofcardsapi.com/static/img/6H.svg", 
                          "png": "https://deckofcardsapi.com/static/img/6H.png"
                      }, 
            "value": "6", 
            "suit": "HEARTS"
        }, 
        {
            "code": "5S", 
            "image": "https://deckofcardsapi.com/static/img/5S.png", 
            "images": {
                          "svg": "https://deckofcardsapi.com/static/img/5S.svg", 
                          "png": "https://deckofcardsapi.com/static/img/5S.png"
                      }, 
            "value": "5", 
            "suit": "SPADES"
        }
    ], 
    "remaining": 50
}
</pre>


<h2 class="section-header" id="reshuffle">Reshuffle the Cards:</h2>
<pre>

<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/shuffle/
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/shuffle/?remaining=true</span> <button class="copy-btn">copy</button>

</pre>

<p>Don't throw away a deck when all you want to do is shuffle. Include the <var>deck_id</var> on your call to shuffle your cards. Don't worry about reminding us how many decks you are playing with. Adding the <var>remaining=true</var> parameter will only shuffle those cards remaining in the main stack, leaving any piles or drawn cards alone.</p>
<br>
<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "shuffled": true,
    "remaining": 52
}
</pre>

<h2 class="section-header" id="brand-new-deck">A Brand New Deck:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/new/</span> <button class="copy-btn">copy</button>
</pre>

<p>Open a brand new deck of cards. <br>A-spades, 2-spades, 3-spades... followed by diamonds, clubs, then hearts.
<p class="note"><span style="font-weight:300;">Hot Tip:</span> Add <var>jokers_enabled=true</var> as a GET or POST parameter to your request to include two Jokers in the deck.</p>

<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "shuffled": false,
    "remaining": 52
}
</pre>

<h2 class="section-header" id="partial-deck">A Partial Deck:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/new/shuffle/?cards=AS,2S,KS,AD,2D,KD,AC,2C,KC,AH,2H,KH</span> <button class="copy-btn">copy</button>
</pre>
<p>If you want to use a partial deck, then you can pass the card codes you want to use using the <var>cards</var> parameter. Separate the card codes with commas, and each card code is a just a two character case-insensitive string:</p>
<p><ol>
  <li>The value, one of A (for an ace), 2, 3, 4, 5, 6, 7, 8, 9, 0 (for a ten), J (jack), Q (queen), or K (king);</li>
  <li>The suit, one of S (Spades), D (Diamonds), C (Clubs), or H (Hearts).</li>
</ol></p>
<p>In this example, we are asking for a deck consisting of all the aces, twos, and kings.</p>
<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "shuffled": true,
    "remaining": 12
}
</pre>

<h2 class="section-header" id="add-to-pile">Adding to Piles</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/add/?cards=AS,2S</span> <button class="copy-btn">copy</button>
</pre>
<p>Piles can be used for discarding, players hands, or whatever else. Piles are created on the fly, just give a pile a name and add a drawn card to the pile. If the pile didn't exist before, it does now. After a card has been drawn from the deck it can be moved from pile to pile.</p>

<p class="note"><span style="font-weight:300;">Note</span>: This will not work with multiple decks.</p>

<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "remaining": 12,
    "piles": {
        "discard": {
            "remaining": 2
        }
    }
}
</pre>

<h2 class="section-header" id="shuffle-pile">Shuffle Piles</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/shuffle/</span> <button class="copy-btn">copy</button>
</pre>
<p class="note"><span style="font-weight:300;">Note</span>: This will not work with multiple decks.</p>

<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "remaining": 12,
    "piles": {
        "discard": {
            "remaining": 2
        }
    }
}
</pre>

<h2 class="section-header" id="draw-from-pile">Listing Cards in Piles</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/list/</span> <button class="copy-btn">copy</button>
</pre>


<p class="note"><span style="font-weight:300;">Note</span>: This will not work with multiple decks.</p>

<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "d5x0uw65g416",
    "remaining": "42",
    "piles": {
        "player1": {
            "remaining": "3"
        },
        "player2": {
            "cards": [
                {
                    "image": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/img/KH.png",
                    "value": "KING",
                    "suit": "HEARTS",
                    "code": "KH"
                },
                {
                    "image": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/img/8C.png",
                    "value": "8",
                    "suit": "CLUBS",
                    "code": "8C"
                }
            ],
            "remaining": "2"
        }
    },
}
</pre>

<h2 class="section-header" id="draw-from-pile">Drawing from Piles</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/draw/?cards=AS</span> <button class="copy-btn">copy</button>
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/draw/?count=2
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/draw/bottom/
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/draw/random/
</pre>
<p>Specify the cards that you want to draw from the pile. The default is to just draw off the top of the pile (it's a <a href="http://en.wikipedia.org/wiki/Stack_(abstract_data_type)">stack</a>). Add <var>/bottom/</var> to the URL to draw from the bottom or <var>/random/</var> to draw random cards - both of these also accept the <var>count</var> parameter.</p>

<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "remaining": 12,
    "piles": {
        "discard": {
            "remaining": 1
        }
    },
    "cards": [
        {
            "image": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/img/AS.png",
            "value": "ACE",
            "suit": "SPADES",
            "code": "AS"
        }
    ]
}
</pre>

<h2 class="section-header" id="return">Returning cards to the deck:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/return/</span> <button class="copy-btn">copy</button>
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/return/
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/return/?cards=AS,2S
{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/deck/&lt;&lt;deck_id&gt;&gt;/pile/&lt;&lt;pile_name&gt;&gt;/return/?cards=AS,2S
</pre>

<p>Use this call to return cards which have been drawn or cards from a pile back to the main deck to re-use. Both versions can take the <var>cards</var> parameter for a list of cards to return (if valid).</p>
<br>
<h3>Response:</h3>
<pre>
{
    "success": true,
    "deck_id": "3p40paa87x90",
    "shuffled": true,
    "remaining": 52
    "piles": {
        "discard": {
            "remaining": 0
        }
    }
}
</pre>

<h2 class="section-header" id="return">Back of Card Image:</h2>
<pre>
<span class="copy-text">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/static/img/back.png</span> <button class="copy-btn">copy</button>
</pre>

{% if v == 1 %}
<h3 class="section-header text-center" style="font-weight: 300;">Lastly, I am working on a kids' book, Computer Engineering for Babies. So if you know any babies or anyone else that enjoys gates buttons & LEDs, then check it out!</h3>
<a href="https://computerengineeringforbabies.com/?utm-source=spades_var2" style="color:#fff300;">
    <div class="text-center">
        <div class="video_container">
            <video width="400px" height="250px" autoplay muted loop>
            <source src="/static/book_gif.mov" type="video/mp4">
            </video> 
        </div>
    </div>
</a>
<div style="padding-bottom: 30px; padding-top: 0px; display: flex; justify-content: center;">
    <a href="https://computerengineeringforbabies.com/?utm-source=spades_var1" class="kickstart" style="display: flex; justify-content:center; align-items: center;">
        <div>CHECK IT OUT&nbsp;</div>
        <span style="font-size:1.8em">&nbsp;&#128073;</span>
    </a>
</div>
{% elif v == 2 %}
<h3 class="section-header text-center" style="font-weight: 300;">One last thing, my side project, Computer Engineering for Babies, just wrapped up on Kickstarter, but I am still taking preorders. So if you know any babies, or anyone that enjoys gates buttons & LEDs, then check it out!</h3>
<a href="https://computerengineeringforbabies.com/?utm-source=spades_var2" style="color:#fff300;">
    <div class="text-center">
        <img src='{% static "book_image.jpg" %}' style="max-width:100%; width:400px">
    </div>
</a>
<div style="padding-bottom: 30px; padding-top: 10px; display: flex; justify-content: center;">
    <a href="https://computerengineeringforbabies.com/?utm-source=spades_var2" class="kickstart" style="display: flex; justify-content:center; align-items: center;">
        <div>CHECK IT OUT&nbsp;</div>
        <span style="font-size:1.8em">&nbsp;&#128073;</span>
    </a>
</div>
{% endif %}



<!-- <a href="https://computerengineeringforbabies.com/" style="color:#fff300;"><h3 class="section-header text-center">One last thing. If you know anyone with young kids, check out my book on Kickstarter!</h3></a> -->
<!-- <div class="uinotebook">
<a href="https://computerengineeringforbabies.com/?ref=doc2">
    <h3 class="text-center">Lastly, click to pre-order the book I am working on!</h3>

    <div class="text-center">
        <img src='{% static "img/book.png" %}' style="max-width:100%; width:500px">
    </div>
</a>
</div> -->

<h2 class="section-header text-center">Thank You!</h2>

<br/>
<p class="footer">
-Chase Roberts.<br><br>
    <a href="https://twitter.com/crobertsbmw" target="_blank"><i class="fa fa-twitter icon"></i></a>
    <a href="https://github.com/crobertsbmw/" target="_blank"><i class="fa fa-github icon"></i></a>
<br><br>
Bugs? Features? View this on <a href="https://github.com/crobertsbmw/deckofcards">GitHub</a>.
</p>

<br><hr>

<br>
<p class="text-center">I would love to see what you are making with this API. Please <a href="https://twitter.com/crobertsbmw">tweet at me!</a></p>

</div>
</div>
</body>
<script>
const buttons = document.querySelectorAll('.copy-btn')
const copyTexts = document.querySelectorAll('.copy-text')

buttons.forEach((button, index) => {
    button.addEventListener('click', () => {
        const copiedText = copyTexts[index].innerText
        navigator.clipboard.writeText(copiedText)
        button.innerText = "copied"
        setTimeout(function(){
            button.innerText = "copy"
        }, 1000);
    })
})

</script>
</html>
